<?xml version="1.0" encoding="utf-8" ?>
<data cnTop="家具"  enTop="furnitures">
	<item cn="门" en="door"  cnColor="0xff0000" enColor="0xff0000" />
	<item cn="灯" en="lamp"  cnColor="0xff0000" enColor="0xff0000" />
	<item cn="地毯" en="carpet"  cnColor="0xff0000" enColor="0xff0000" />
	<item cn="柜子" en="cabinet"  cnColor="0xff0000" enColor="0xff0000" />
	<item cn="桌子" en="table"  cnColor="0xff0000" enColor="0xff0000" />
	<item cn="凳子" en="stool"  cnColor="0xff0000" enColor="0xff0000" />
	<item cn="椅子" en="chair"  cnColor="0xff0000" enColor="0xff0000" />
	<item cn="沙发" en="sofa"  cnColor="0xff0000" enColor="0xff0000" />
	<item cn="躺椅" en="deck chair"  cnColor="0xff0000" enColor="0xff0000" />
	<item cn="床" en="bed"  cnColor="0xff0000" enColor="0xff0000" />
</data>

